html  
	head
		title Node's information page
	body
		center
			h1 Node's information page
		h3 Node id: #{node.id}
		p Node port: #{node.port}
		hr
		div
			b Buckets
			p
				each bucket in buckets
					p Bucket id: #{bucket.index}
						p Nodes in a bucket:
							each node in bucket.nodesList
								li id: #{node.id}, port: #{node.port} 
									a(href=node.ipAddr +':' + node.port +"/kademlia/node")
										button(type="button") Go to the node side
					hr